@media (min-width: 360px) {
    .main {
        height: 500px;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .frame-photo {
        width: 100% !important;
        height: 60% !important;
    }

    .welcome {
        width: 100% !important;
        margin-top: 1.5rem !important;
    }

    .description {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }

    .model {
        height: 100%;
        width: 80%;
        margin-left: 0.5rem !important;
        margin-right: 0.5rem !important;
    }

    .cover {
        /*  */
    }

    .about-me {
        width: 150px;
        height: 150px;
    }

    .my-description {
    }

    .buttons {
        margin-top: 3rem !important;
    }

    .button-portofolio {
        margin-top: 0.5rem !important;
    }

    .button-cv {
        margin-bottom: 0.5rem !important;
    }

    .services {
        height: 650px;
    }

    .cards {
        margin-top: 1.5rem !important;
    }

    .card {
        width: 15rem;
        height: 15rem;
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
    }
}

@media (min-width: 991px) {
    .main {
        height: 450px;
    }
}
