body {
    margin: 0;
    padding: 0;
    /* background-repeat: no-repeat;
    background-size: cover; */
    height: 100vh;
}

.half-background {
    background-color: rgba(32,32,32,1);
    height: 500px;
}

.brand {
    font-family: "poppins";
}
