@media (min-width: 360px) {
    .main {
        height: 500px;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .frame-photo {
        width: 100% !important;
        height: 60% !important;
    }

    .welcome {
        margin-top: 1.5rem !important;
    }

    .description {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }

    .model {
        height: 100%;
        width: 80%;
        margin-left: 0.5rem !important;
        margin-right: 0.5rem !important;
    }

    .cover {
        /*  */
    }

    .about-me {
        width: 250px;
        height: 250px;
    }

    .my-description {
    }

    .buttons {
        margin-top: 3rem !important;
    }

    .button-portofolio {
        margin-top: 0.5rem !important;
    }

    .button-cv {
        margin-bottom: 0.5rem !important;
    }

    .services {
        height: 650px;
    }

    .cards {
        margin-top: 1.5rem !important;
    }

    .card {
        width: 15rem;
        height: 15rem;
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
    }
}

@media (min-width: 576px) {
    /* .frame-photo {
        width: 25% !important;
        height: 100% !important;
    } */
}

@media (min-width: 992px) {
    .main {
        flex-direction: initial !important;
        height: 450px;
        margin-bottom: 0;
        margin-top: 1rem;
    }

    .frame-photo {
        width: 25% !important;
        height: 100% !important;
    }

    .description {
        height: 400px;
    }

    .cover {
        width: 50% !important;
    }

    .wrap {
        width: 50% !important;
    }

    .button-portofolio {
        margin-top: 0 !important;
        margin-right: 0.75rem !important;
    }

    .button-cv {
        margin-bottom: 0 !important;
    }

    .services {
        height: 400px;
    }

    .wrap1 {
        width: 100% !important;
    }

    .cards {
        width: 60% !important;
        align-items: initial !important;

    }
}
